apiVersion: v1
kind: Service
metadata:
  name: helm-version-manager
  namespace: default
  labels:
    app: helm-version-manager
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: helm-version-manager
